USE [master]
GO
/****** Object:  Database [ContentPreview]    Script Date: 03/04/2011 11:27:26 ******/
CREATE DATABASE [ContentPreview] ON PRIMARY 
( NAME = N'SampleContent', FILENAME = N'<<< your data location here >>>\ContentPreview.mdf' , SIZE = 198656KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ) LOG ON 
( NAME = N'SampleContent_log', FILENAME = N'<<< your data location here >>>\ContentPreview_1.ldf' , SIZE = 199296KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled')) 
    BEGIN
        EXEC [ContentPreview].[dbo].[sp_fulltext_database] @action = 'enable'
    END
GO
USE [ContentPreview]
GO
/****** Object:  User [iccg_user]    Script Date: 03/04/2011 11:27:26 ******/
CREATE USER [iccg_user] FOR LOGIN [iccg_user] WITH DEFAULT_SCHEMA=[content]
GO
/****** Object:  Schema [content]    Script Date: 03/04/2011 11:27:26 ******/
CREATE SCHEMA [content] AUTHORIZATION [dbo]
GO
/****** Object:  Table [content].[sections]    Script Date: 03/04/2011 11:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [content].[sections]
    (
     [SectionID] [int] IDENTITY(1, 1)
                       NOT NULL
    ,[HSIM] [varchar](50) NOT NULL
    ,[ProductCode] [varchar](50) NOT NULL
    ,[ContentVersion] [varchar](50) NOT NULL
    ,[ContentOwner] [varchar](50) NOT NULL
    ,[SectionPath] [varchar](500) NOT NULL
    ,[SectionXML] [xml] NULL
    ,[ProgressionPeriod] [varchar](50) NULL
    ,[ProgressionBehavior] [varchar](50) NULL
    ,[DisplayOrder] [int] NULL
    ,[VersionMajor] [int] NULL
    ,[VersionMinor] [int] NULL
    )
ON  [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [content].[sections] ON
SET IDENTITY_INSERT [content].[sections] OFF
/****** Object:  Table [content].[guidelines]    Script Date: 03/04/2011 11:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [content].[guidelines]
    (
     [GuidelineID] [int] IDENTITY(1, 1)
                         NOT NULL
    ,[GuidelineTitle] [varchar](255) NOT NULL
    ,[ProductCode] [varchar](50) NOT NULL
    ,[Version] [varchar](50) NOT NULL
    ,[ContentOwner] [varchar](50) NOT NULL
    ,[HSIM] [varchar](50) NOT NULL
    ,[GuidelineCode] [varchar](50) NOT NULL
    ,[GuidelineType] [varchar](50) NOT NULL
    ,[ChronicCondition] [varchar](50) NOT NULL
    ,[GLOS] [varchar](100) NULL
    ,[GuidelineXML] [xml] NOT NULL
    ,[GLOSXML] [xml] NULL
    ,[GLOSMin] [int] NULL
    ,[GLOSMax] [int] NULL
    ,[GLOSType] [varchar](50) NULL
    ,[VersionMajor] [int] NULL
    ,[VersionMinor] [int] NULL
    )
ON  [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [content].[guidelines] ON
SET IDENTITY_INSERT [content].[guidelines] OFF
